<!doctype html>
<html lang="en">

<head>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
   <meta name="author" content="Moh. Walid Arkham Sani">

   <!-- Primary Meta Tags -->
   <title>Tool Penamaan LJU Ganjil 2020/2021</title>
   <meta name="title" content="Tool Penamaan LJU Ganjil 2020/2021">
   <meta name="keywords" content="tool, ujian, pkn stan, lju, ujian jarak jauh, ganjil">
   <meta name="description"
      content="Yuk, jangan lupa simpan link ini untuk mempermudah ujianmu! Semoga kita semua diberi kelancaran dalam ujian kali ini. Aamiin.">

   <!-- Open Graph / Facebook -->
   <meta property="og:type" content="website">
   <meta property="og:url" content="https://walidsj.github.io/toolujian/">
   <meta property="og:title" content="Tool Penamaan LJU Ganjil 2020/2021">
   <meta property="og:description"
      content="Yuk, jangan lupa simpan link ini untuk mempermudah ujianmu! Semoga kita semua diberi kelancaran dalam ujian kali ini. Aamiin.">
   <meta property="og:image" content="https://walidsj.github.io/toolujian/img/thumb.jpg">
   <meta property="og:site_name" content="Tool Penamaan LJU by Walid">

   <!-- Twitter -->
   <meta property="twitter:card" content="summary_large_image">
   <meta property="twitter:url" content="https://walidsj.github.io/toolujian/">
   <meta property="twitter:title" content="Tool Penamaan LJU Ganjil 2020/2021">
   <meta property="twitter:description"
      content="Yuk, jangan lupa simpan link ini untuk mempermudah ujianmu! Semoga kita semua diberi kelancaran dalam ujian kali ini. Aamiin.">
   <meta property="twitter:image" content="https://walidsj.github.io/toolujian/img/thumb.jpg">
   <meta name="twitter:image:alt" content="Tool Penamaan LJU by Walid">

   <!-- Style -->
   <link rel="icon" type="image/ico" href="favicon.ico">
   <meta name="theme-color" content="#23a127" />
   <meta name="msapplication-navbutton-color" content="#23a127" />
   <meta name="apple-mobile-web-app-status-bar-style" content="#23a127" />
   <link rel='manifest' href='manifest.json'>
   <link rel="apple-touch-icon" href="icon/180x180.png">

   <link href="css/bootstrap.min.css" rel="stylesheet" />
</head>

<body>
   <div id="app">
      <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-4 bg-white border-bottom shadow-sm">
         <a class="navbar-brand mr-0 mr-md-auto text-center" href="/toolujian">
            <img src="img/apel.png" width="30" height="30" class="d-inline-block align-top" alt="" loading="lazy">
            <h5 class="my-0 mr-md-auto font-weight-bold text-dark">Tool Ujian Ganjil</h5>
         </a>
         <nav class="my-2 my-md-0 mr-md-3">
            <a class="p-2 text-dark" href="doc/database.xlsx">Database</a>
            <a class="p-2 text-dark" href="doc/Tool Ujian Genap 2019-20.xlsx">Tool Lama</a>
            <a class="p-2 text-dark" href="doc/peng172.pdf">PENG-172</a>
            <a class="p-2 text-dark" href="https://github.com/walidsj/toolujian">Source Code</a>
         </nav>
         <a class="btn btn-sm btn-outline-success"
            href="https://api.whatsapp.com/send?phone=6285157626557&text=halo%2C%20walid!%0A%0A_-weblju_">LAPORKAN
            MASALAH</a>
      </div>
      <div id="section" class="container">
         <div class="row justify-content-center">
            <div class="col-md-4">
               <div class="card border-0">
                  <div class="card-body">
                     <div class="form-group">
                        <small class="font-weight-bold">Nama Lengkap</small>
                        <input type="text" class="form-control" placeholder="Fulan bin Fulan" v-model="nama"
                           :class="nama.length >= 5 ? 'border-success' : 'border-danger'" @focus="!nama">
                     </div>
                     <div class="form-group">
                        <small class="font-weight-bold">NPM</small>
                        <input type="number" class="form-control" placeholder="2302180109" v-model="npm"
                           :class="npm.length == 10 ? 'border-success' : 'border-danger'">
                     </div>
                     <div class="form-group">
                        <small class="font-weight-bold">Program Studi</small>
                        <select class="form-control" v-model="prodi" :class="prodi ? 'border-success' : 'border-danger'"
                           @change="onChangeProdi">
                           <option value="">Pilih Program Studi</option>
                           <option v-for="(prodi, id) in prodis" :value="prodi">
                              {{ prodi.nama }}</option>
                        </select>
                     </div>
                     <div class="form-group">
                        <small class="font-weight-bold">Semester</small>
                        <select class="form-control" :disabled="!prodi" v-model="semester"
                           :class="semester && prodi ? 'border-success' : 'border-danger'" @change="onChangeSemester">
                           <option value="">Pilih Semester</option>
                           <option v-for="(semester, id) in semesters" :value="semester">
                              {{ semester.nama }}
                           </option>
                        </select>
                     </div>
                     <div class="form-group">
                        <small class="font-weight-bold">Kelas</small>
                        <input type="number" class="form-control" placeholder="09" v-model="kelas"
                           :class="kelas.length == 2 ? 'border-success' : 'border-danger'">
                     </div>
                     <div class="form-group">
                        <small class="font-weight-bold">No. Absen</small>
                        <input type="number" class="form-control" placeholder="18" v-model="absen"
                           :class="absen.length == 2 ? 'border-success' : 'border-danger'">
                     </div>
                  </div>
               </div>
            </div>
            <div class="col-md-4">
               <div class="card">
                  <div class="card-body">
                     <div class="form-group">
                        <small class="font-weight-bold">Sesi Ujian</small>
                        <input type="number" class="form-control" placeholder="09" v-model="sesi"
                           :class="sesi.length == 2 ? 'border-success' : 'border-danger'">
                     </div>
                     <div class="form-group">
                        <small class="font-weight-bold">Mata Kuliah</small>
                        <select class="form-control" v-model="matkul" :disabled="!semester || !prodi"
                           :class="matkul && prodi && semester ? 'border-success' : 'border-danger'">
                           <option value="">Pilih Mata Kuliah</option>
                           <option v-for="(matkul, id) in matkuls" :value="matkul">
                              {{ matkul.nama }}
                           </option>
                        </select>
                     </div>
                     <div class="form-group mt-4">
                        <button class="btn btn-block p-3" style="font-size: .9rem"
                           :class="hasilBlock ? 'btn-success' : 'btn-warning'" :disabled="hasilBlock == false"
                           @click="copyToClipboard">{{ (hasilBlock) ? hasilString : 'Lengkapi data ujian dengan benar terlebih dulu.'}}
                           <div class="mt-2" v-if="hasilBlock">
                              <small>Click
                                 me!</small>
                           </div>
                        </button>
                     </div>
                     <div class="form-group">
                        <button class="btn btn-primary my-1" @click="addCookies">SIMPAN DATA</button>
                        <button class="btn btn-danger my-1" @click="deleteCookies">HAPUS DATA</button>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <footer class="my-5 text-muted text-center text-small">
         <p class="font-weight-bold mb-0">© 2020 Tool Penamaan Ujian
         </p>
         <p>
            Update: 10/11/2020 00:00
         </p>
         <img class="img"
            src="https://hitwebcounter.com/counter/counter.php?page=7707119&style=0008&nbdigits=6&type=ip&initCount=0"
            title="Tool Penamaan Ujian 2020" Alt="Tool Penamaan Ujian 2020" border="0" /></a>
      </footer>
   </div>

   <script src="js/vue@2.js"></script>
   <script src="js/vue-toastify@latest.js"></script>
   <script src="js/vue-cookies.js"></script>
   <script type="module" src="js/app.js"></script>
   <script scr="pwabuilder-sw-register.js"></script>
   <script type="module">
      import 'https://cdn.jsdelivr.net/npm/@pwabuilder/pwaupdate';
      const el = document.createElement('pwa-update');
      document.body.appendChild(el);
   </script>
</body>

</html>